---
import { Github, Linkedin } from "lucide-astro";
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Educations from "../components/Educations.astro";
import Works from "../components/Works.astro";
import { work } from "../content/cv/work";
import { projects } from "../content/cv/projects";
import { education } from "../content/cv/education";
import { skills } from "../content/cv/skills";
import Section from "../components/Section.astro";
import Heading from "../components/Heading.astro";
---

<Layout>
  <div class="min-h-full px-6 md:px-12" slot="hero">
    <div
      class="flex flex-row flex-wrap lg:flex-nowrap justify-between items-center gap-x-48 gap-y-12 mt-12 lg:mt-24"
    >
      <img
        src="/images/profile.jpg"
        class="block mb-12 lg:hidden mx-auto rounded-full border-vintage-600 border-[12px]"
        width="320"
      />
      <div class="flex flex-col gap-4 max-w-[800px]">
        <span class="font-black text-6xl"
          ><span class="handwriting">Hello, I am Zbyněk</span></span
        >
        <span class="font-semibold text-3xl">I build pragmatic solutions to complex problems while staying endlessly curious about how the world works.</span
        >
        <div class="flex flex-row flex-wrap items-center gap-4">
          <Button text="Experience" link="#experience" />
          <Button text="Projects" link="#projects" />
          <Button text="Education" link="#education" />
          <a href="https://www.linkedin.com/in/zbyju/"><Linkedin /></a>
          <a href="https://github.com/zbyju"><Github /></a>
        </div>
      </div>
      <img
        src="/images/profile.jpg"
        class="hidden lg:block rounded-full border-vintage-600 border-[12px]"
        width="320"
      />
    </div>
    <div class="mt-32"></div>
  </div>

  <Section>
    <a id="projects"></a>
    <Heading text="Projects" />

    <Projects projects={projects} />
  </Section>

  <Section bg="bg-vintage-100 dark:bg-vintage-800">
    <a id="projects"></a>
    <Heading text="Skills & Technologies" />

    <div class="flex flex-row gap-4 flex-wrap">
      <Skills skills={skills} />
    </div>
  </Section>

  <Section>
    <a id="experience"></a>
    <Heading text="Experience" />

    <Works works={work} />
  </Section>

  <Section separatorBottom={false}>
    <a id="education"></a>
    <Heading text="Education" />

    <Educations educations={education} />
  </Section>
</Layout>
