---
import type { Skills } from "../content/cv/skills";
import SkillList from "./SkillList.astro";
interface Props {
    skills: Skills;
}

const { skills } = Astro.props;

---

<div class="flex flex-col gap-4">
  <SkillList skills={skills.programmingLanguages} heading="Programming Languages" color="indigo" />
  <SkillList skills={skills.frameworks} heading="Frameworks" color="blue" />
  <SkillList skills={skills.databases} heading="Databases" color="cyan" />
  <SkillList skills={skills.others} heading="Miscellaneous" color="teal" />
  <SkillList skills={skills.languages} heading="Languages" color="red" />
</div>
