---
import { displayDate, displayDuration } from "../utils/display/dates";
type Work = {
	job_title: string;
	country: string;
	company: string;
	workload: string;
	start: Date;
	end: Date | string;
	content: string;
	keywords: string[];
};
interface Props {
	works: Work[];
}
const { works } = Astro.props;
---

<div class="mt-4 overflow-hidden">
  {
    works.map((w: Work) => (
      <div class="">
        <div class="w-[300px] max-w-[95%] flex flex-row">
          <div class="flex flex-col gap-y-1 bg-vintage-900 dark:bg-vintage-200 h-[35px] hover:h-[57px] transition-all duration-300 text-zinc-50 dark:text-black overflow-y-hidden w-fit px-4 py-[6px] rounded-full text-center">
            <span class="text-sm">
              {displayDate(w.start)} - {displayDate(w.end)}
            </span>
            <span class="text-xs">({displayDuration(w.start, w.end)})</span>
          </div>
        </div>
        <div class="pl-4 md:pl-1">
          <div class="pl-4 box-border md:pl-10 md:ml-5 py-8 border-l-[5px] border-yellow-400 dark:border-yellow-500 w-full max-w-full lg:w-3/5">
            <div class="flex flex-wrap flex-row items-center gap-x-3">
              <h3 class="font-semibold text-3xl">{w.job_title}</h3>
              <span class="text-2xl pt-[3px] md:inline hidden">—</span>
              <span class="text-2xl pt-[5px]">{w.country}</span>
            </div>

            <div class="flex flex-wrap flex-row items-center gap-x-2">
              <h4 class="text-xl font-medium leading-6">{w.company}</h4>
              <span class="text-lg leading-6 md:inline hidden">—</span>
              <em class="text-lg leading-6 pt-[2px]">{w.workload}</em>
            </div>

            <div class="mt-2 box-border max-w-full" set:html={w.content} />

            <div class="mt-2">
              {w.keywords.map((keyword, index) => (
                <>
                  <span>{keyword}</span>
                  {index !== w.keywords.length - 1 && <span> · </span>}
                </>
              ))}
            </div>
          </div>
        </div>
      </div>
    ))
  }
</div>
